@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap');

/* Onload floating box */
.floating-panel-container-onload {
  position: fixed;
  left: 0;
  right: 0;
  top: 2%;
  bottom: 0;
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
  z-index: 1000;
  width: 75%;
  color: #222;
  margin: 0 auto;
}

.floating-panel-container-onload.visible {
  transform: scale(0.5);
}

.floating-panel-container-onload.visible {
  transform: scale(1);
  background: transparent;
}

.floating-panel-onload {
  box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
  border: 2px solid #E87300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 95%;
  padding: 0.75rem;
  margin: 0 auto;
  background: #1488CC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2B32B2, #1488CC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2B32B2, #1488CC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.floating-panel-onload .close-btn-onload {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 1px;
  padding: 0.5rem;
  border: none;
}

.fa-times:before {
  color: #F22302;
}

.floating-panel-onload .close-btn-onload:focus {
  outline: none;
}

.floating-panel-onload p {
  font-family: 'M PLUS Rounded 1c',
    sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  max-width: 80%;
  margin-top: 0.25rem;
  background: transparent;
  color: #eee;
}

.floating-panel-onload button {
  line-height: 18px;
  text-transform: uppercase;
}

.floating-panel-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.floating-panel-onload img {
  width: 32%;
  margin-top: 0.25rem;
}

.floating-panel-onload ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0;
  background: transparent;
}

.floating-panel-onload ul li {
  margin: 0 10px;
  background: transparent;
}

.floating-panel-onload ul li a {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #001F61;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.floating-panel-onload ul li a:hover {
  border-color: #FF6A00;
  box-shadow: 0 9px 12px -9px #FF6A00;
}

.all-button {
  padding: 0.75rem 1rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1;
  border: none;
}

.all-button:hover {
  color: #222;
  text-decoration: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.all-button:focus {
  outline: none;
}

.fa-arrow-right {
  color: #0200F1;
}

.form-inline {
  margin: 0 0.25rem;
  padding: 0.12rem 0;
  line-height: 1.5;
}

.input-group>.input-group-prepend>.input-group-text,
input#email {
  border-radius: 0;
}

form input.form-control {
  border-radius: 10px;
  border: none;
}

.form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
}

form input::placeholder {
  color: #9b9990 !important;
  opacity: 0.5 !important;
}

/* End of Onload floating box */

/* Fixed social icons*/
#fixed-social-icons {
  position: fixed;
  top: 250px;
  z-index: 100;
  box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px,
    rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}

#fixed-social-icons a {
  color: #eee;
  display: block;
  height: 40px;
  position: relative;
  text-align: center;
  line-height: 40px;
  width: 40px;
  margin-bottom: 1px;
}

#fixed-social-icons a:hover>span {
  visibility: visible;
  left: 41px;
  opacity: 1;
}

#fixed-social-icons a span {
  border: 1px solid#0200F1;
  left: 60px;
  position: absolute;
  text-align: center;
  width: 100px;
  visibility: hidden;
  transition-duration: 0.5s;
  z-index: 1;
  opacity: 0;
}

/*End of Fixed social icons*/

/* Hero section */
.hero-section {
  padding: 1rem;
}

.hero-wrapper-left h1 {
  text-align: left;
  font-weight: 900;
  line-height: 1.5;
}

.hero-wrapper-left h1 span {
  color: #0000f1b3;
}

.hero-section-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.hero-wrapper-left,
.hero-wrapper-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* End of Hero section */

/* Media queries */
@media screen and (max-width: 680px) {
  .floating-panel-container-onload {
    top: 2%;
    width: 100%;
  }

  .floating-panel-onload img {
    width: 100%;
  }

  .floating-panel-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
  }

  .form-inline {
    margin-top: 0.2rem;
  }

  .floating-panel-onload ul li a {
    font-size: 1rem;
    height: 25px;
    width: 25px;
  }

  .hero-section {
    max-width: 100%;
  }

  .hero-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-wrapper-right {
    order: 2;
  }

  .hero-wrapper-left {
    order: 1;
  }

  .hero-wrapper-right,
  .hero-wrapper-left {
    text-align: center;
    padding: 0 0.5rem;
  }

  .hero-wrapper-left h1 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1100px) {
  .hero-section {
    max-width: 1344px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

/* End of Media queries for Hero section*/