hr {
  width: 75% !important;
  height: 1rem !important;
  opacity: 0.5;
  margin: 1rem auto;
}

.footer-section {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  place-items: center !important;
}

.quote {
  padding: 0 4rem;
}

strong {
  font-weight: 600 !important;
  line-height: 1.25;
  padding-bottom: 3rem;
}

strong span {
  color: #E77200;
  line-height: 1.25;
  font-weight: 500;
  pointer-events: none;
}

.footer-links {
  list-style: none;
}

.footer-links a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 400;
}

ul.footer-item,
.footer-content ul {
  padding-left: 0;
  margin-bottom: 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
}

.footer-content h6 {
  font-weight: 700;
}

.copyright_text h6 {
  font-weight: 600;
  font-size: 0.75rem;
  text-shadow: none !important;
}

@media (max-width: 680px) {
  .footer-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    text-align: center;
  }
}

@media (min-width: 1100px) {
  .footer-section {
    max-width: 1344px;
    margin: auto;
  }
}